
body {
	padding: 0;
	margin: 0;
	min-width: 1220px;
	font-family: "PT Sans Caption", "Arial", sans-serif;
}

.container{
	width: 1200px;
	padding: 0 10px;
	margin:0 auto;
}

/*Intro*/
.intro {
	padding-top:25px;
	padding-bottom: 35px;
	background-color:#455c7c;
	background-image:url('../img/background_intro.jpg');
	background-repeat: no-repeat;
	background-position: center 0;
	color: #ffffff;
}

.intro_header {
	margin-top: 0;
	position: relative;
}

.logo_intro {
	position:absolute;
	top:0;
}

.intro_header .logo_carmart {
	left: 5%;
}

.intro_header .logo_maximum {
	right: 5%;
}

.main_nav {
	background-color: #ffffff;
	padding: 10px 0;
	display: block;
	position: fixed;
	width:100%;
	top: -105px;
	z-index: 100;
}

.main_menu {
	list-style: none;
	font-size:0;
	text-align: center;
}

.main_menu li {
	display: inline-block;
	vertical-align: middle;
}

.main_menu a {
	color: #535a66;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	padding: 5px 0;
	display: block;
	text-align: center;
}

.main_menu a:hover {
	font-weight: bold;
}

.main_menu li:nth-child(2) a{
	width: 97px;
}

.main_menu li:nth-child(3) a{
	width: 135px;
}

.main_menu li:nth-child(4) a{
	width: 180px;
}

.main_menu li:nth-child(5) a {
	width: 145px;
	color: #00a086;
}

.main_menu_logo:first-child {
	margin-right: 100px;
}

.main_menu_logo:last-child {
	margin-left: 100px;
}

.header_first_row {
	padding-top:10px;
	width: 55%;
	margin:0 auto;
	margin-bottom: 170px;
}

.header_first_row h2 {
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	letter-spacing: -0.04em;
	margin:0;
	text-align: center;
}

.first_row_subheader {
	text-transform: uppercase;
	margin-top:10px;
	font-size: 18px;
	line-height: 20px;
	text-align:center;
	line-height: normal;
}

.header_second_row {
	width: 495px;
	margin-left: 525px;
}

.header_second_row h1 {
	font-family: "Roboto", "Helvetica", sans-serif;
	text-transform: uppercase;
	font-size: 94px;
	line-height: 80px;
	margin-top:0;
	letter-spacing: -0.06em;
}

.header_second_row .brand_intro {
	font-size: 71px;
}

.link_intro {
	text-align: center;
	padding-bottom: 40px;
}

.link_intro p {
	font-size: 25px;
	line-height: 30px;
	letter-spacing: -0.04em;
	margin-bottom:20px;
}

.link_intro .btn_intro {
	color: #ffffff;
	text-decoration: none;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 12px 35px;
	border: 1px solid #ffffff;
}

.link_intro .btn_intro:hover {
	background-color: #00a086;
	border: 1px solid #00a086;
}

.link_intro .btn_intro:active {
	background-color: #84c71b;
	border: 1px solid #84c71b;
}

/*Prizes first time*/
.prizes_slide_first {
	background-color: #535a66;
	background-image: url(../img/background_grey.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	color: #ffffff;
	padding-top: 40px;
	padding-bottom: 130px;
	text-align: center;
}

.prize_item {
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	margin-left: 90px;
	font-family: "Roboto", "Helvetica", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.prize_item:first-child{
	margin-left: 0px;
}

.prize_name {
	font-size: 31px;
	line-height: 45px;
	text-transform: uppercase;
	letter-spacing: -0.04em;
	margin:0;
	text-align: left;
}

.prize_exp {
	font-size: 14px;
	line-height: 18px;
	margin:0;
	letter-spacing: 0;
	text-align: left;
	
}

/*Partners*/

.partners_slide {
	background-color: #ffffff;
}


.partners_slide h2 {
	font-family: "PT Sans";
	color: #535a66;
	font-size: 60px;
	font-weight: 700px;
	letter-spacing:-0.02em;
	text-align: center;
}


.partner_items {
	width: 1110px;
	text-align: justify;
	margin: 0 auto;
}
/*Необходим для распределение по ширине!*/
.sub {
	width: 100%;
	height: 0;
	display:inline-block;
	height:0;

}

.partner_item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	margin-bottom: 30px;
}

/*green first*/
.green_slide_first {
	background-color: #84c71b;
	background-image: url(../img/background_green.jpg);
	background-repeat:no-repeat;
	background-position: center 0;
	padding-top: 135px;
	padding-bottom: 50px;
}

.green_slide_first::after {
	content: "";
	display: table;
	clear: both;
}

.green_first_header {
	font-size:60px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	line-height: 55px;
	text-align: center;
}

.green_first_header span {
	font-size: 45px;
	font-weight: 400;
}

.green_slide_first .left_column {
	float : left;
	width: 573px;
	color: #535a66;
}

.left_column .spring {
	background-color: #ffffff;
	padding: 4px 20px 65px 58px;
	border-radius: 4px;
}

.left_column .spring h2 {
	font-size:36px;
	line-height: 48px;
}

.left_column .spring p {
	font-size: 24px;
	line-height: 32px;
}

.left_column .spring_color {
	color: #00a086;
	font-weight: bold;
}

.left_column .spring_link {
	font-size: 36px;
	font-weight: bold;
	-webkit-text-decoration-style: dotted;
	        text-decoration-style: dotted;
	text-transform: uppercase;
	color: #00a086;
}

.left_column .spring_link:hover{
	color: #84c71b;
}

.left_column .spring_footer{
	padding: 25px 20px 25px 60px;
	color: #ffffff;
	font-size: 24px;
	line-height: 30px;
}

.left_column .spring_footer .email_popup_link {
	font-weight: bold;
	-webkit-text-decoration-style: dotted;
	        text-decoration-style: dotted;
	color: #ffffff;
}

.green_slide_first .right_column {
	float: left;
	width: 500px;
	color: #535a66;
	margin-left: 80px;
}

.right_column .email_invit {
	background-color: #ffffff;
	padding: 80px 120px 30px 120px;
	border-radius: 4px;
	text-align: center;
	margin-bottom: 15px;
	position: relative;
}

.right_column .email_invit::before {
	content: "";
    display: block;
	height: 36px;
	width: 74px;
	background-image:url(../img/sprite.png);
	background-repeat: no-repeat;
    background-position: -5px -5px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
	top: 45px;
}

.right_column .email_invit p {
	font-size: 25px;
	line-height: 35px;
}

.right_column .email_link {
	font-family: "PT Sans";
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	color: #00a086;
	text-decoration: none;
	padding: 10px 60px;
	border: 1px solid #00a086;
	border-radius: 4px;
	display:inline-block;
	margin-top: 8px;
}
 
.right_column .email_link:hover {
	color: #ffffff;
	background-color: #00a086;
}

.right_column .email_link:active {
	color: #ffffff;
	background-color: #84c71b;
	border-color: #84c71b;
}

.right_column .adv {
	border: 2px solid #ffffff;
	padding: 25px;
	color: #ffffff;
	text-align: center;
	font-size: 25px;
	line-height: 35px;
	position:relative;
}

.right_column .info {
	padding-top: 140px;
}

.right_column .info::before {	
	content:"";
	background-image:url("../img/sprite.png");
	background-repeat:no-repeat;
	background-position: -5px -51px;;
	display: block;
    height: 67px;
	width: 61px;
    left: 50%;
    margin-left: -8%;
    position: absolute;
	top: 40px;
}

.right_column .win {
	padding-top: 100px;
}

.right_column .win::before{	
	content:"";
	background-image:url("../img/sprite.png");
	background-position: -89px -5px;
	background-repeat:no-repeat;
	width: 108px;
    height: 54px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
	top: 26px;
}
 
.right_column .win {
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 30px;
}

/*white_slide*/
.white_slide {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 170px;
	background-image: url("../img/background_whiteGrey.jpg");
	background-repeat: no-repeat;
	background-position: bottom center;
}

.white_slide header {
	margin-top: 30px;
}

.white_slide .auto_img {
	display: inline-block;
	vertical-align: middle;
}

.white_slide .auto_text {
	display: inline-block;
	vertical-align: middle;
	color: #535a66;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	text-align: left;
	font-style: italic;
}

.auto_text .auto_name {
	font-size: 30px;
	letter-spacing: -0.04em;
	line-height: 30px;
	margin:0;
}

.auto_text .auto_exp {
	margin:0;
}


/*prizes_slide_second*/
.prizes_slide_second {
	background-color: #535a66;
	color: #ffffff;
	padding-top: 50px;
	padding-bottom: 100px;
}

.prizes_slide_second .container {
	text-align: center;
}

.prizes_slide_second h2 {
	font-size: 60px;
	font-weight: bold;
	text-align: center;
}

.prizes_slide_second .first_inrow {
	margin-left: 0px;
}

.prizes_slide_second .blocks_extra::after {
	content:"";
	display: table;
	clear: both;
}

.prizes_slide_second .block_extra {
	display: inline-block;
	vertical-align: top;
	width: 260px;
	padding:45px;
	border: 2px solid #ffffff;
	border-radius: 4px;
	margin-right: 10px;
	text-align: center;
	font-size: 25px;
}

.prizes_slide_second .block_extra:last-child {
	margin-right: 0;
}

.prizes_slide_second .block_extra_color {
	background-color: #ffffff;
	color: #00a086;
}
.prizes_slide_second .block_extra_bold {
	font-weight: bold;
	text-transform: uppercase;
}

/*green_second*/
.green_slide_second {
	background-color: #84c71b;
	color: #ffffff;
	text-align: center;
	padding-bottom: 230px;
	padding-top: 190px;
	background-image: url("../img/background_green_second.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
}

.green_slide_second h2 {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 75px;
	font-weight: 800;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: -0.05em;
}

.green_slide_second .second_green_link {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-size: 60px;
	font-weight: 800;
	letter-spacing: -0.06em;
	font-style: italic;
	border: 3px solid #ffffff;
	display: inline-block;
	padding-right: 58px;
	padding-left: 80px;
	padding-top: 5px;
	padding-bottom: 5px;
	transform: skewX(-10deg);
	position: relative;
}

.green_slide_second .second_green_link::before {
	content: "";
	background: url(../img/sprite.png);
	width: 24px;
    height: 32px;
    background-position: -207px -37px;
	position: absolute;
	top: 30px;
	left: 50px;
}

.second_green_link span {
	display: inline-block;
	transform: skewX(10deg);
}

.green_slide_second .second_green_link:hover {
	background-color:#00a086;
	border-color: #00a086;
}

.green_slide_second .second_green_link:active {
	border-color: #84c71b;
	background-color: #84c71b;
}

/*footer*/

.main_footer {
	background-color:#455c7c;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	padding-top: 55px;
	padding-bottom: 55px;
	background-image: url("../img/background_footer.jpg");
	background-repeat: no-repeat;
	background-position: center 0;
}

.main_footer .logo_footer {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 50px;
}
.main_footer .logo_carmart {
	margin-right: 200px;
}

.main_footer .footer_contacts {
	color: #ffffff;
	margin-top: 30px;
	margin-bottom: 100px;
}

.footer_contacts .footer_email {
	color: #ffffff;
	-webkit-text-decoration-style: dotted;
	        text-decoration-style: dotted;
	font-weight: bold;
}

.footer_contacts .footer_email:hover{
	color: #84c71b;
}

.main_footer .footer_copyright {
	color: #c0c6cd;
}


/*___popups___*/


.popup_window {
	position: fixed;
	overflow-y: scroll;
	max-height: 75%;
	right:-1000px;
	display: none;
	top: 12%;
	width: 65%;
	z-index: 100;
	padding-left: 60px;
	padding-top: 50px;
	padding-bottom: 20px;
}

.popup_close {
	position: absolute;
	content: '';
	display: block;
	top: 10px;
	left: 10px;
	width: 19px;
	height: 19px; 
	cursor: pointer;
	background: url(../img/sprite.png);
    background-position: -241px -66px;
	background-repeat:no-repeat;
}
    
.popup_window h2 {
	font-family: "Roboto", "Helvetica", sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-style: italic;
	font-size: 34px;
	line-height: 38px;
	color:#535a66;
	width: 355px;
	letter-spacing: -0.05em;
}

.popup_window h2 span {
	font-size: 31px;
	color: #00a086;
}

.popup_window input {
	display: block;
}

.popup_window input[name="email"] {
	font-family: "PT Sans Caption", "Arial", sans-serif;
	font-size: 20px;
	color: #535a66;
	padding: 12px 8px;
	width: 354px;
	margin-bottom: 20px;
}

.popup_window button[type='submit'] {
	border: none;
	outline: none;
	background-color: #00a086;
	color: #ffffff;
	font-family: "PT Sans Caption", "Arial", sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	width: 375px;
	padding: 15px 0;
	margin-bottom: 25px;
	display: block;
}

.popup_window .social_info {
	text-align: center;
	font-size: 20px;
	line-height: 30px;
	color: #5e6470;
	padding: 0 10px;
	letter-spacing: -0.03em;
	width: 355px;
}

/*popup subscribe*/
.subscribe_popup {
	background-color: rgba(255,255,255,0.95);
	display: none;
}

.subscribe_popup_succes {
	display: none;
	background-color: rgba(255,255,255,0.95);
}


/*email popup*/
.email_popup {
	display: none;
	background-color: rgba(83,90,102,0.95);
	color: #ffffff;
}

.email_popup_succes {
	display: none;
	background-color: rgba(83,90,102,0.95);
}

.email_popup h2,
.email_popup_succes h2, 
.email_popup_succes h2 span,
.email_popup h2 span,
.email_popup p,
.email_popup_succes p {
	color: #ffffff;
}

.email_popup .popup_close,
.email_popup_succes .popup_close {
	background-position: -241px -37px;
}

.email_popup textarea[name="message"] {
	color: #5e6470;
	padding: 10px 8px;
	width: 354px;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 20px;
	margin-top: -10px;
	margin-bottom: 10px;
}

.email_succes_subheader {
	font-family: "Roboto", "Helvetica", sans-serif;
	font-size: 24px;
	line-height: normal;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	width: 190px;
	margin-bottom: 40px;
}

.email_popup_succes .social_info {
	display: inline-block;
	padding:0;
}

/*social_vidget (заменяются на виджеты, которые предоставляются сайтами vKontacte/Facebook)*/

.vk_vidget {
	display: inline-block;
	width: 250px;
	height: 325px;
	background-image: url("../img/vk_vidget.jpg");
	margin-bottom: 15px;
}

.fb_vidget {
	display: inline-block;
	background-Image: url(../img/fb_vidget.jpg);
	width: 277px;
	height: 267px;
}

/*mobile_nav*/

.mobile_nav {
	position: fixed;
	text-align: right;
	width: 480px;
	display: block;
	top: -105px;
	left: 50%;
	padding:0;
	padding-right: 5px;
	margin:0;
	margin-left: -240px;
	background-color: #ffffff;
	z-index:50;
}

.mobile_nav .container{
	margin:0;
	padding:0;
}

.mobile_nav ul {
	list-style: none;
	padding: 0 17px;
	padding: 0 17px;
	margin: 7px 0;
}

.mobile_nav li {
	display: inline-block;
	vertical-align: middle;
	margin-left: 70px;
}

.mobile_nav li:nth-child(2) {
	margin-left:45px;
}

.mobile_nav li:nth-child(1) {
	margin-left:0;
}

.mobile_menu {
	width: 35px;
	height: 22px;
	cursor:pointer;
	display: block;
	background-image:url("../img/sprite.png");
	background-repeat: no-repeat;
    background-position: -207px -5px;
}


	/*mobile_menu*/
.mobile_menu_popup {
	background-color: rgba(255,255,255,0.95);
	display: none;
	position: fixed;
	top: -500px;
	left:50%;
	margin-left: -240px;
	width: 480px;
	height: auto;
	padding-top: 100px;
	padding-bottom: 150px;
	z-index: 100;
}

.mobile_menu_popup .menu_close {
	position: absolute;
	right: 22px;
	top: 22px;
	content: '';
	display: block;
	background: url(../img/sprite.png);
	background-repeat: no-repeat;
	width: 28px;
    height: 29px;
    background-position: -76px -79px;
	cursor: pointer;
	
}

.mobile_menu_popup a {
	display: block;
	color: #535a66;
	font-weight: 400;
	letter-spacing: -0.01em;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	padding: 30px;
}

.menu_show {
	animation-name: moveInMenu;
	animation-duration: 1s;
	display: block;
}

/*Mefiaqueries*/
@media screen and (max-width: 1024px) {
	
	.main_nav {
		display: none;
	}
	
	.mobile_nav {
		display: block;
	}
	
	body {
		min-width: 480px;
	}
	
	.container {
		width:auto;
		width: 480px;
		padding:0;
	}
	
	/*intro*/
	.intro {
		background-image: url("../img/mobile_background_intro.jpg");
		background-repeat: no-repeat;
		background-position: center 0;
		background-color: #ffffff;
		padding-bottom: 5px;
		width: 480px;
		margin:0 auto;
	}
	
	
	.header_first_row {
		width: auto;
		padding: 4%;
		margin-bottom: 60px;
	}
	
	.header_first_row h2 {
		margin-top: 80px;
		font-size: 40px;
		line-height: 40px;
	}
	
	.first_row_subheader {
		font-size: 20px;
		line-height: 24px;
		color: rgba(255,255,255,0.5);
	}
	
	.header_second_row {
	width: 280px;
	margin-left: 180px;
	}
	
	.header_second_row h1 {
	font-size: 53px;
	line-height: 45px;
	margin-top:0;
	letter-spacing: -0.06em;
	}

	.header_second_row .brand_intro {
	font-size: 40px;
	}
	
	.link_intro p {
		font-size: 25px;
		line-height: 24px;
		padding:5px 10%;
	}
	
	.link_intro .btn_intro {
		background-color: #00a086;
		border: none;
		padding-left: 20%;
		padding-right: 20%;
		text-align: center;
	}
	
	.link_intro .btn_intro:hover {
		background-color: #00a086;
		border: none;
		padding-left: 20%;
		padding-right: 20%;
		text-align: center;
	}
	
	
	/*prizes_slide_first*/
	
	.prizes_slide_first {
		background-color: #535a66;
		background-image: url("../img/mobile_background_greyWhite.jpg");
		background-repeat: no-repeat;
		background-position: bottom center;
		background-position: bottom center;
		padding-bottom: 20px;
		z-index:20;
		width: 480px;
		margin: 0 auto;
	}

	
	.prize_item {
		display: inline-block;
		padding:0 7%;
		margin-left:0;
		margin-bottom: 80px;
	}
	
	
	/*partners slide*/
	
	.partners_slide {
		width: 480px;
		margin: 0 auto;
	}
	
	.partners_slide h2 {
		font-size: 40px;
		line-height: 45px;
	}
	
	.partner_items {
		width: auto;
	}
	
	.partner_item {
		display: block;
		text-align: center;
	}
	
	.partner_item a {
		display: inline-block;
		margin-bottom: 10px;
	}
	
	/*green_slide_first*/
	
	.green_slide_first {
		background-image: url("../img/mobile_background_green.jpg");
		background-repeat:no-repeat;
		padding-bottom: 85px;
		width: 480px;
		margin: 0 auto;
	}
	
	.green_slide_first .left_column,
	.green_slide_first .right_column {
		float: none;
		width: auto;
	}
	
	.green_slide_first .spring {
		width: auto;
		border-radius: 0;
		padding-left: 7%;
		padding-right: 7%;
	}
	
	.spring .spring_link {
		font-size: 33px;
		display: inline-block;
	}
	
	.left_column .spring_footer {
		padding-top: 0;
		padding-left: 7%;
		padding-right: 7%;
	}
	
	.green_slide_first .right_column {
		margin: 0 4%;
	}
	
	.right_column .email_invit {
		padding: 80px 18%;
	}
	
	/*White slide*/
	.white_slide {
		display: none;
	}
	
	/*prizes_slide_second*/
	.prizes_slide_second {
		display: none;
	}
	
	/*green_slide_second*/
	.green_slide_second {
		background-image: url("../img/mobile_background_green_second.jpg");
		background-position: bottom center;
		padding-top: 0;
		padding-bottom:100px;
		width: 480px;
		margin: 0 auto;
	}
	
	.green_slide_second h2 {
		font-size: 60px;
	}
	
	/*footer*/
	.main_footer {
		background-image: none;
		background-color: #535a66;
		font-size: 24px;
		line-height: 30px;
		line-heighn: normal;
		padding-top: 80px;
		width: 480px;
		margin: 0 auto;
	}
	
	.main_footer .logo_footer {
		display: block;
	}
	
	.main_footer .logo_carmart {
		margin-right:0;
	}
	
	.main_footer .footer_contacts {
		padding: 0 23%;
		padding-top: 50px;
		margin-bottom: 110px;
	}
	
	.footer_contacts .footer_email {
		display: block;
		margin-top: 45px;
	}
	
	.main_footer .footer_copyright {
		padding: 0 10%;
	}
	
	/*popups*/
	.popup_window {
		width: 87.5%;
		top:0;
		height: 890px;/*!!!!!!!!!!!*/
	}


}

@media screen and (min-width: 1025px) {
	.mobile_nav {
		display: none;
	}
}

/*sprite*/
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon_email {
    width: 74px;
    height: 36px;
    background-position: -5px -5px;
}

.sprite-icon_figure_1 {
    width: 61px;
    height: 67px;
    background-position: -5px -51px;
}

.sprite-icon_figure_2 {
    width: 108px;
    height: 54px;
    background-position: -89px -5px;
}

.sprite-icon_menu_mobile {
    width: 35px;
    height: 22px;
    background-position: -207px -5px;
}

.sprite-icon_secondGreenLink {
    width: 24px;
    height: 32px;
    background-position: -207px -37px;
}

.sprite-menu_close {
    width: 28px;
    height: 29px;
    background-position: -76px -79px;
}

.sprite-popup_close {
    width: 19px;
    height: 19px;
    background-position: -241px -37px;
}

.sprite-popup_close_dark {
    width: 19px;
    height: 19px;
    background-position: -241px -66px;
}
