@font-face {
  font-family: 'MuseoCyrl-300';
  src: url('MuseoCyrl-300.eot');
  src: url('MuseoCyrl-300.woff2') format('woff2'),
       url('MuseoCyrl-300.woff') format('woff'),
       url('MuseoCyrl-300.ttf') format('truetype'),
       url('MuseoCyrl-300.svg#MuseoCyrl-300') format('svg'),
       url('MuseoCyrl-300.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
