/*
 стили для версий ie9 и меньше
*/
@font-face {
  font-family: 'PT SansIe';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/pts55f_w.eot');
}
@font-face {
  font-family: 'PT SansIe';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/pts56f_w.eot');
}
@font-face {
  font-family: 'PT SansIe';
  src: url('../fonts/pts75f_w.eot');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'PT SansIe';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/pts76f_w.eot');
}
body {
  font-family: "PT SansIe", "Arial", sans-serif;
}
.intro__title {
  font-size: 43px;
}
.intro__title-row {
  background-image: url('../img/bg-opacity.png');
}
.description__title {
  background-image: url('../img/bg-opacity.png');
}
.description-item--even {
  margin-right: 0;
}
.description-item--last {
  margin-right: 0;
  padding-left: 10px;
}
.description-item--last:before {
  display: none;
}
.reviews-portfolio__title {
  font-size: 41px;
  top: -65px;
  left: 17%;
  right: 17%;
}
.main-nav__item a:before {
  height: 0;
}
.prices__item--last {
  margin-right: 0;
}
.prices__name {
  font-size: 24px;
}
.reviews__image--forth {
  margin-right: 0;
}
@media (max-width: 1360px) {
  .reviews-portfolio__title {
    font-size: 41px;
    top: -65px;
  }
}
@media (max-width: 1180px) {
  .reviews-portfolio__title {
    font-size: 35px;
  }
}
@media (max-width: 1130px) {
  .advantages__title {
    font-size: 20px;
    width: 155px;
  }
  .reviews-portfolio__title {
    font-size: 37px;
    left: 25%;
    right: 25%;
    max-width: 450px;
  }
}
@media (max-width: 1000px) {
  .reviews__image--forth {
    margin-right: 6%;
  }
  .reviews__image--third {
    margin-right: 0;
  }
}
